.remind{
	width:120px;
	background:#fff;
	box-shadow: 0 0 10px 1px #7d7d7d;
	z-index:9999999;
	border-radius:5px;
	position:fixed;
}

.remind-title{
	background: #09C;
	border-radius:5px 5px 0 0;
	color:#fff;
	text-indent:10px;
}

.remind-title span{
	float:right;
	color:#00f3d3;
	width:25px;
	cursor: pointer;
}

.remind_content_add{
	width:120px;
	font-size:13px;
	text-indent:12px;
	margin-bottom:3px;
	border-bottom:1px solid #bbb;
	cursor:pointer;
}
.remind_content_add a{
	width:100%;
	border:0;
	outline:none;
}
.remind_content_del{
	font-size:12px;
	cursor:pointer;
}
.remind_content_del_title{
	width:120px;
	text-indent:12px;
	margin-bottom:3px;
	border-bottom:1px solid #bbb;
}
.remind_content_del_content{
	width:120px;
	text-align:center;
}
.remind_content_del_content li{
	
}

